#watchlist {
  padding: 0;
}

#watchlist table {
  margin: auto;
  width: 100%;
}

.mobile_hamburger {
  width: 20px;
  height: 20px;
}

.pointer {
  cursor: pointer;
}

h3 {
  display: inline-block;
}

#reset {
  display: inline-block;
  padding: 3px;
  float: right;
}

#reset button {
  padding: 3px;
  font-size: small;
  line-height: 100%;
  background-color: #17a2b8;
  border: 0px;
}
