<div id="watchlist">
  <h3>Watchlist</h3>
  <table class="table-bordered">
    <thead>
    <tr>
      <th>Symbol</th>
      <th>Last</th>
      <th>Close</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>AMZN</td>
      <td>1329</td>
      <td>1327</td>
      <td></td>
    </tr>
    <tr>
      <td>GOOG</td>
      <td>1013</td>
      <td>1011</td>
      <td></td>
    </tr>
    <tr>
      <td>IBM</td>
      <td>150</td>
      <td>152</td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>
