<div id="watchlist">
  <h3>Watchlist</h3>
  <div id="reset">
    <button type="button" class="btn btn-primary" (click)="reset()">Reset<br>Watchlist</button>
  </div>
  <table class="table-bordered">
    <thead>
    <tr>
      <th>Symbol</th>
      <th>Last</th>
      <th>Open</th>
      <th>Move</th>
    </tr>
    </thead>
    <tbody dnd-sortable-container [sortableData]="stocks">
    <tr *ngFor="let stock of stocks; let i = index;" dnd-sortable [sortableIndex]="i">
      <td (click)="update(stock.symbol)" class="pointer">{{ stock.symbol | uppercase }}</td>
      <td>N/A</td>
      <td>N/A</td>
      <td dnd-sortable-handle><img src="../../assets/Hamburger_icon.png" class="mobile_hamburger pointer"></td>
    </tr>
    </tbody>
  </table>
  <br/>
  Add:
  <input [(ngModel)]="addTicker" type="text" id="symbol_input">
  <input type="submit" (click)="addNew()">
</div>
