<div id="watchlist">
  <h3>Watchlist</h3>
  <div id="reset">
    <button type="button" class="btn btn-primary" (click)="reset()">Reset<br>Watchlist</button>
  </div>
  <table class="table-bordered" *ngIf="stockData; else elseBlock">
    <thead>
    <tr>
      <th>Symbol</th>
      <th>Last</th>
      <th>Open</th>
      <th>Move</th>
    </tr>
    </thead>
    <tbody dnd-sortable-container [sortableData]="stocks">
    <tr *ngFor="let stock of stocks; let i = index;" dnd-sortable [sortableIndex]="i" >
      <td (click)="update(stock)" class="pointer" *ngIf="stockData.find(stock); else elseBlock">{{ stockData.find(stock).symbol | uppercase }}</td>
      <td>{{ stockData.find(stock).last }}</td>
      <td>{{ stockData.find(stock).open }}</td>
      <td dnd-sortable-handle><img src="../../assets/Hamburger_icon.png" class="mobile_hamburger pointer"></td>
    </tr>
    </tbody>
  </table>
  <br/>
  Add:
  <input [(ngModel)]="addTicker" type="text" id="symbol_input">
  <input type="submit" (click)="addNew()">
  <ng-template #elseBlock>
    Loading...
  </ng-template>
</div>
