<div id="stock_details">
  <h3>Stock Details</h3>
  <table class="table-bordered">
    <tr>
      <th>Symbol</th>
      <th>Last</th>
      <th>Day Change</th>
      <th>Today's Open</th>
      <th>Today's Volume</th>
    </tr>
    <tr>
      <td>{{stockData.symbol}}</td>
      <td>{{stockData.last}}</td>
      <td>{{stockData.dayChange}}</td>
      <td>{{stockData.open}}</td>
      <td>{{stockData.volume}}</td>
    </tr>
    <tr>
      <th>Company Name</th>
      <th>Exchange</th>
      <th>VWAP</th>
      <th>200 Day MA</th>
      <th>Earnings per share</th>
    </tr>
    <tr>
      <td>{{stockData.companyName}}</td>
      <td>{{stockData.exchange}}</td>
      <td>{{stockData.vwap}}</td>
      <td>{{stockData.adp_200}}</td>
      <td>{{stockData.eps}}</td>
    </tr>
  </table>
</div>
