#stock_details {
  padding: 0;
}

#stock_details table {
  margin: auto;
  width: 100%;
}

h3 {
  display: inline-block;
}

#start {
  display: inline;
  float: right;
  vertical-align: middle;
  margin-top: 6px;
  margin-bottom: auto;
}

#header {
  vertical-align: middle;
}
