<div id="stock_details">
  <h3>Stock Details</h3>
  <table class="table-bordered">
    <tr>
      <th>Symbol</th>
      <th>Last</th>
      <th>Day Change</th>
      <th>Today's Open</th>
      <th>Today's Volume</th>
    </tr>
    <tr>
      <td>OSTK</td>
      <td>32.45</td>
      <td>-$0.40</td>
      <td>33.50</td>
      <td>4.3M</td>
    </tr>
    <tr>
      <th>Company Name</th>
      <th>Exchange</th>
      <th>VWAP</th>
      <th>200 Day MA</th>
      <th>Earnings per share</th>
    </tr>
    <tr>
      <td>Overstock.com, Inc.</td>
      <td>NASDAQ</td>
      <td>74</td>
      <td>175</td>
      <td>7</td>
    </tr>
  </table>
</div>
