#stock_details {
  padding: 0;
}

#stock_details table {
  margin: auto;
  width: 100%;
}

h3 {
}

#marketStatus {
  float: right;
  vertical-align: middle;
  margin-top: 6px;
  margin-bottom: auto;
}

#status {
  font-weight: bold;
}

#message {
  float: left;
  vertical-align: middle;
  margin-top: 6px;
  margin-bottom: auto;
}

#header {
  vertical-align: middle;
}
