<div id="stock_details">
  <div id="header">
    <h3>Stock Details</h3>
    <div id="marketStatus" *ngIf="stockData">
      Market Status: <span id="status">{{stockData.marketStatus | timeToMarketOpen}}</span>
    </div>
    <span id="message" *ngIf="stockData">{{stockData.message}}</span>

  </div>
  <table class="table-bordered" *ngIf="stockData; else elseBlock">
    <tr>
      <th>Symbol</th>
      <th>Last</th>
      <th>Day Change</th>
      <th>Today's Open</th>
      <th>Last Update</th>
    </tr>
    <tr>
      <td>{{stockData.symbol}}</td>
      <td>{{stockData.last}}</td>
      <td>{{stockData.dayChange}}</td>
      <td>{{stockData.open}}</td>
      <td>{{stockData.callTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
    </tr>
    <tr>
      <th>Company Name</th>
      <th>Exchange</th>
      <th>VWAP</th>
      <th>200 Day MA</th>
      <th>Earnings per share</th>
    </tr>
    <tr>
      <td>{{stockData.companyName}}</td>
      <td>{{stockData.exchange}}</td>
      <td>{{stockData.vwap}}</td>
      <td>{{stockData.adp_200}}</td>
      <td>{{stockData.eps}}</td>
    </tr>
  </table>
  <ng-template #elseBlock>
    Loading...
  </ng-template>
</div>
