#stock_details {
  padding: 5px;
  margin: auto;
  width: 95%;
}

#stock_details table {
  margin: auto;
  table-layout: fixed;
  width: 100%;
}

#stock_details td {
  overflow: hidden;
}

#marketStatus {
  float: right;
  vertical-align: middle;
  margin-top: 6px;
  margin-bottom: auto;
  margin-left: 15px;
}

#status {
  font-weight: bold;
}

#message {
  float: left;
  vertical-align: middle;
  margin-top: 6px;
  margin-bottom: auto;
}

#header {
  vertical-align: middle;
}
