<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <div class="contents">
    <div class="col-md-6 quarter" style="background-color:blue;" id="ticker">
      ticker
    </div>
    <div class="col-md-6 quarter" style="background-color:red;" id="details">
      details
    </div>
    <div class="col-md-6 quarter" style="background-color:yellow;" id="watchlist">
      watchlist
    </div>
    <div class="col-md-6 quarter" style="background-color:green;" id="plot">
      plot
    </div>
  </div>
</div>


