.contents {
  text-align:center;
  width: 98%;
  margin: auto;
  background-color: #FFFFFF;
}

.btm_row {
  min-height: 400px;
}

h1 {
  color: #d63031;
}

app-watchlist {
}

app-chart {
  /*background-color: black;*/
}

app-stock-details {
  margin-right: 0px;
  padding-right: 0px;
}


